<button {{action "zoomOut"}} class="btn btn-sm {{if isMinZoom 'disabled'}}"><i class="glyphicon-zoom-out zoom-out glyphicon"></i>
</button>
<button {{action "zoomIn"}} class="btn btn-sm {{if isMaxZoom 'disabled'}}"><i class="glyphicon-zoom-in zoom-in glyphicon"></i>
</button>