<div class="modal mobile-info-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="pull-left inline-help-button-container">
                        <span class="glyphicon glyphicon-info-sign help-button"></span>
                    </span>
                    <span class="pull-right">1 of X</span>
                </h4>
            </div>
            <div class="modal-body text-center">
                <p>Message</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Next</button>
            </div>
        </div>
    </div>
</div>