/* Building design loader */
#gear-loading .cssload-loader .cssload-needle:before {
    border-right-color: #e81512;
}

#gear-loading .cssload-loader .cssload-subline:nth-child(11),
#gear-loading .cssload-loader .cssload-line:nth-child(6) {
    background: #e81512;
}

/* Outer circle */
#gear-loading .cssload-loader-circle-1 {
    border-color: #1b4383;
    border-right-color: transparent;
}

/* Inner circle */
#gear-loading .cssload-loader-circle-2 {
    border-right-color: #e81512;
}

/* Loading text, font */
#gear-loading .cssload-loading {
    color: #1b4383;
    font-family: "Century Gothic", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

/* Loading text position fix */
#gear-loading .cssload-loading.sentence {
    margin-top: 0;
}
