.tooltip-error {
    
    white-space:pre-wrap;

    .tooltip-inner{

        background-color: #f2dede;
        color: #a94442;
    }
    .tooltip-arrow{
        border-top-color:#f2dede!important;
    }
}

