<div class="modal fade terms-and-conditions" tabindex="-1" role="dialog" aria-labelledby="terms-and-conditions" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{t 'checkout.terms_modal'}}</h4>
            </div>

            <div class="modal-body">
                {{{tsAndCsHTML}}}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{t 'application.agree'}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{t 'application.close'}}</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
