<div class="property-bd graphics">
	<div class="drag-here">
		<span>{{ t 'editor.drop_image_here'}}</span>
	</div>
	<h5 class="title">{{t 'editor.icon_replace_title'}}:</h5>
	{{view "design/editor/graphicPalette/graphicPalette" content=recent3Graphics location="mainPanel"}}
	{{view "design/editor/userUploadedGraphic" content=content}}
</div>
