<button name="disableEditorGrid" {{action "disableEditorGrid" target=view}} class="btn btn-sm {{if view.isGridActive 'inactive' 'active'}}"><i class="glyphicon-unchecked glyphicon"></i></button>
<button name="enableEditorGrid" {{action "enableEditorGrid" target=view}} class="btn btn-sm {{if view.isGridActive 'active' 'inactive'}}"><i class="glyphicon-th glyphicon"></i></button>
