<div class="slider">
  <div class="slider-container">
    <i class="slider-icon"></i>
    <button class="decrement-btn btn btn-xs" title="{{view.decrementTitle}}">-</button>
    {{yield}}
    <button class="increment-btn btn btn-xs" title="{{view.incrementTitle}}">+</button>
    <span class="rangeValue"></span>
  </div>
</div>
