<ul class="property-module z-index">
  <!--div class="property-bd zindex-buttons"-->
  <li><button {{action "featureToBack"}} class="btn btn-sm" data-name="sendToBack"><span class="btn-send-to-bottom sprite-btn-send-to-bottom"></span></button></li>
  <li><button {{action "featureBackwards"}} class="btn btn-sm" data-name="sendBackwards"><span class="btn-send-down sprite-btn-send-down"></span></button></li>
  <li><button {{action "featureForwards"}} class="btn btn-sm" data-name="bringForwards"><span class="btn-send-up sprite-btn-send-up"></span></button></li>
  <li><button {{action "featureToFront"}} class="btn btn-sm" data-name="bringToFront"><span class="btn-send-to-top sprite-btn-send-to-top"></span></button></li>
  <!--/div-->
</ul>
