/* Colours */
$main-colour: white;
$sub-colour: #EFEFEF;
$sub-colour-2: #D1D3D4;
$sub-colour-3: #6D6E71;
$sub-colour-4: #555555;
$sub-colour-5: #303030;

/* Filter Menu offsets */
$theme-nav-top-offset: 64px;
$side-nav-width: 60px;
$filter-menu-width: 300px;
