<div class="modal fade regulated-theme-warning">
    <div class="modal-dialog modal-warning">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{t 'themes.regulated.warning_title'}}</h4>
            </div>
            <div class="modal-body">
                <p>{{t 'themes.regulated.warning_body'}}</p>
            </div><!-- /.modal-body -->

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{t 'application.ok'}}</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
