<link rel="icon" type="image/png" sizes="192x192" href="branding/images/icons/brand-icon-192x192.png" />
<link rel="icon" type="image/png" sizes="128x128" href="branding/images/icons/brand-icon-128x128.png" />
<link rel="icon" type="image/png" sizes="32x32" href="branding/images/icons/brand-icon-32x32.png" />

<link rel="apple-touch-icon" type="image/png" href="branding/images/icons/brand-icon-60x60.png" />
<link rel="apple-touch-icon" type="image/png" sizes="76x76" href="branding/images/icons/brand-icon-76x76.png" />
<link rel="apple-touch-icon" type="image/png" sizes="120x120" href="branding/images/icons/brand-icon-120x120.png" />
<link rel="apple-touch-icon" type="image/png" sizes="152x152" href="branding/images/icons/brand-icon-152x152.png" />
