<div class="error-page">
    <div class="incompatible-browser-inner">
        <img class="motocal-logo" src="branding/images/brand_logo.png" />

        <h1>{{t 'inline.outdated'}}</h1>

        <p>{{t 'inline.modern_browser'}}</p>

        <p><a href="http://browsehappy.com/">{{t 'inline.latest_versions'}}</a></p>
    </div>
</div>
