<div style="margin-top: 100px; text-align: center; margin-left: auto; margin-right: auto;">

    <img src="branding/images/brand_logo.png" />

    <h3>Requested Page Not Found</h3>
    <p>
        The page you requested could not be found.  {{#link-to 'application'}}Return home{{/link-to}}.
    </p>

</div>